{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Welcome to SPAS</title>

        <!-- Bootstrap core CSS -->
        <link href="{% static 'css/new-age.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}">

        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

        <!-- Plugin CSS   {% static '' % }  -->
        <link rel="stylesheet" href="{% static 'device-mockups/device-mockups.min.css' %}">

        <!-- Custom styles for this template -->
        <link href="{% static 'css/new-age.min.css' %}" rel="stylesheet">
    <title>SPAS Data Analysis</title>
  </head>
  <body id="page-top">

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
          <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="{% url 'index' %}">SPAS [beta]</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              Menu
              <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="{% url 'data' %}">Data Analytics</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="{% url 'contact' %}">Contact</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>

        <header class="masthead">
          <div class="container h-100">
            <div class="row h-100">
              <div class="col-lg-7 my-auto">
                <div class="header-content mx-auto">
                  <h1 class="mb-5">
                    Welcome to SPAS! Here we tell about ourself...
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </header>

        <!-- Data Analytics -->
        <h1>
          {% filter force_escape|lower %}
          This text will be HTML-escaped, and will appear in all lowercase.
          {% endfilter %}
        </h1>

        <h2>
          It is {% now "jS F Y H:i" %}
        </h2>


        <!-- Bootstrap core JavaScript -->
        <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

        <!-- Plugin JavaScript -->
        <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  </body>
</html>
